.container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 320px) {
    width: 320px;
    padding: 0 20px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 75px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    padding: 0 71px;
  }
}
