:root {
  --primary-text-color: #000;
  --secondary-text-color: #fff;
  --footer-text-color: #545454;

  --accent-color: #ff6b01;

  --main-bg-color: #fff;
  --footer-bg-color: #f7f7f7;

  --primary-font-family: 'Roboto', sans-serif;
  --main-btn-color: #fff;
  --main-linear-gradient: linear-gradient(
    to right,
    rgba(00, 00, 00, 0.56),
    rgba(00, 00, 00, 0.56)
  );
}
