<ul class='pagination-list_library'>
  {{#each this}}
    <li class='item_library' data-page-number='{{page}}'>
      <button class='{{button}}' data-page-number='{{page}}'>
        {{page}}
      </button>
    </li>
  {{/each}}
</ul>