<header class="header">

    <nav class="nav">
    <div class="logo__container" aria-label="Логотип сайту">
        <a class="logo__link" href="./index.html">
            <img src="./images/svg/logo.svg" alt="Filmoteka">
            Filmoteka
        <a>
    </div>

        <ul class="nav-list">
           <li class="nav__list-item">
               <a class="nav__list-link" href="./index.html">home</a>
            </li>
           <li class="nav__list-item">
               <a class="nav__list-link" href="./myLibrary.html">my library</a>
            </li>
        </ul>
    </nav>

</header>