    <section class="section hero">
      
        <form class="search-form">
            <input
              type="text"
              name="query"
              autocomplete="off"
              placeholder="Поиск фильмов"
            />
          </form>
          
          <svg class="icon-search" width="12" height="12">
            <use href="../images/svg/symbol-defs.svg#icon-search"></use>
          </svg>
    
        <p class="warning hidden">
            <strong>Search result not successful. Enter the correct movie name and try again!</strong>
        </p>
    
    </section>