<section class="container movie__card">
    <ul class="movie__list">
        <!-- <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li>
        <li class="movieList__item">
            <img width="274" height="440">
        </li> -->
    </ul>
</section>