.signin-btn {
  display: block;
  background-color: transparent;
  border: none;
  padding: 0px;
  outline: none;
  text-transform: uppercase;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  color: #fff;
}

body.modal-is-active .header-backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
body.modal-is-active .header-modal {
  transform: scale(1);
}
.header-backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0000007a;
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
.header-modal {
  border-radius: 4px;
  width: 350px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 15px 10px #ff6b0160;
  transform: scale(1.1);
  transition: transform 300ms ease-in-out;
}
.is-hidden {
  display: none;
}
.close-modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  fill: currentColor;
  outline: none;
  transition: all 0.25s linear;
  &:hover,
  &:focus {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}
.username {
  color: var(--accent-color);
  position: absolute;
  top: 8px;
  right: 8px;
}
