button {
  font-family: var(--primary-font-family);
  color: var(--primary-text-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.333;

  letter-spacing: 0.05em;

  &.pagination-list__item {
    border: none;
    width: 30px;
    height: 40px;
    border-radius: 4px;
    background-color: transparent;
    cursor: pointer;
  }

  &.active {
    background-color: var(--accent-color);
    color: var(--main-btn-color);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: default;
  }

  &.dot {
    cursor: default;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
  }

  &.preview-button,
  &.next-button {
    border: none;
    padding: 0 12px;
    height: 40px;
    border-radius: 4px;
    background-color: #f7f7f7;
    cursor: pointer;
  }
}

// Scroll
.scroll__top {
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 4px solid var(--accent-color);
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  bottom: 130px;
  right: 70px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    border: none;
    fill: #fff;
    transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.scroll__icon {
  cursor: pointer;
  fill: var(--accent-color);
  &:hover,
  &:focus {
    fill: #fff;
  }
}
.active-scroll {
  display: flex;
}
