li {
  list-style-type: none;
}

.link {
  color: var(--secondary-text-color);
}

.header__background-home {
  height: 230px;
  justify-content: space-between;
  margin: 0 auto;
  background-image: var(--main-linear-gradient), url(../images/header/main/mobile.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: var(--main-linear-gradient), url(../images/header/main/mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: var(--main-linear-gradient), url(../images/header/main/tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--main-linear-gradient), url(../images/header/main/tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: var(--main-linear-gradient), url(../images/header/main/desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--main-linear-gradient), url(../images/header/main/desktop@2x.jpg);
    }
  }
}

.header__background-myLibrary {
  height: 230px;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #000000;

  background-image: var(--main-linear-gradient), url(../images/header/library/mobile.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: var(--main-linear-gradient), url(../images/header/library/mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: var(--main-linear-gradient), url(../images/header/library/tablet.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--main-linear-gradient), url(../images/header/library/tablet@2x.jpg);
    }
  }

  @media screen and (min-width: 1024px) {
    background-image: var(--main-linear-gradient), url(../images/header/library/desktop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: var(--main-linear-gradient), url(../images/header/library/desktop@2x.jpg);
    }
  }
}

.site-logo {
  padding-top: 46px;
  margin-bottom: 37px;
  display: flex;
  justify-content: space-between;
  justify-content: baseline;

  @media screen and (min-width: 768px) {
    padding-top: 41px;
  }

  &__txt {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    padding-top: 41px;
    margin-bottom: 37px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

.icon-film {
  display: inline;
  cursor: pointer;
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

.warning {
  // display: none; поправила немного стили чтоб корректно отображалось

  // &-message {
  display: flex;
  justify-content: center;
  margin-top: 22px;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
  // }
}

.search-form {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: var(--primary-font-family);
  font-weight: 400;
  border-bottom: 0.5px solid var(--main-btn-color);
  background: transparent;
  font-size: 14px;
  line-height: 1.15;
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    max-width: 100%;
    margin-top: 43px;
  }
}

.menu-search {
  max-width: 100%;

  &__films {
    background-color: transparent;
    border: none;
    outline: none;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.07;
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);

    &::placeholder {
      font-family: (--primary-font-family);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.17;
      display: flex;
      align-items: center;
      color: var(--secondary-text-color);
    }
  }
}

.search-btn {
  line-height: 1.15;
  margin: 0;
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;

  &-item {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    text-transform: uppercase;
    color: (--secondary-text-color);

    &:not(:last-child) {
      margin-right: 39px;
    }
  }
}

.current {
  display: inline-block;
  color: var(--secondary-text-color);

  &::after {
    left: 0;
    bottom: 0;
    display: block;
    background-color: var(--accent-color);
    content: '';
    width: 100%;
    height: 3px;
  }
}

.menu {
  &-controls {
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__btn:not(:last-child) {
    margin-right: 15px;
  }

  &__btn {
    cursor: pointer;
    color: var(--main-btn-color);
    width: 136px;
    height: 44px;
    background-color: transparent;
    border: var(--main-btn-color) solid 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
  }
}

.active-control-btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.is-hidden {
  display: none;
}

input:focus::placeholder {
  color: transparent;
}
