.container.movie__card {
  display: grid;
  @media screen and (min-width: 320px) {
    
    padding-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 50px;
  }

  //   background-color: rebeccapurple;
  @media screen and (min-width: 1024px) {
 
    padding-bottom: 50px;
  }
}
.movie__list {
  display: grid;
  @media screen and (min-width: 320px) {
    grid-template-columns: 280px;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
  }
  @media screen and (min-width: 768px) {
    grid-template-columns: 294px 294px;
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
  }
  //   grid-template-rows: 1fr 1fr 1fr;
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
  }

  //   padding: 20px;
}
.movie__text{
display: grid;
grid-template-columns: 1fr 10fr 1fr;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.33;
/* or 133% */


color: #FF6B08;
}
.movie__title{
  

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 1.33;
/* or 133% */
text-transform:uppercase;

color: #000000;
}