.container.pagination,
.container.pagination_library {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

.pagination-list,
.pagination-list_library {
  display: flex;
}

.item:last-child {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    display: none;
  }
}

#pagesList,
#pagesList_library {
  margin: 0 16px;
}
