.container.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  padding-left: 0px;
  padding-right: 0px;
}

.pagination-list {
  display: flex;
}

#pagesList {
  margin: 0 16px;
}
